 <!-- ***** Home Parallax Start ***** -->
 <section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Project Names</h1>
                        <p>There are IT, IoT(Internet of Things) and Industrial Automation projects.
                             These projects are designed to meet the specific needs of different industries and organizations.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a class="mini-box">
                        <i><img src="assets/images/WNS.png" alt=""></i>
                        <strong>Wiring Harness Networking</strong>
                        <span>This is IOT project</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="https://pld2-akauto.kirankhairehomelab.online" target="_blank" class="mini-box">
                        <i><img src="assets/images/PLD.png" alt=""></i>
                        <strong>Production Line Display</strong>
                        <span>This is IoT project</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="https://kws-pmd-web.onrender.com" target="_blank" class="mini-box">
                        <i><img src="assets/images/PMD.png" alt=""></i>
                        <strong>Production Moniter Display</strong>
                        <span>This is an IT project</span>
                    </a>
                </div>                
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->