<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="social">
                  <li><a href="https://wa.me/8605119189" target="_blank"><img src="assets/images/whatsapp.png" alt="WhatsApp"></a></li>
                  <li><a href="https://www.facebook.com/" target="_blank"><img src="assets/images/facebook.png" alt="Facebook"></a></li>
                  <li><a href="https://www.linkedin.com/company/kalptech-solutions-pvt-ltd/" target="_blank"><img src="assets/images/linkedin.png" alt="LinkedIn"></a></li>
                  <li><a href="https://www.youtube.com/watch?v=8gwpOeUAK2E" target="_blank"><img src="assets/images/youtube.png" alt="GitHub"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy; 2024 Kalpsoft Company</p>
            </div>
        </div>
    </div>
  </footer>
  