<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="assets/images/IT.png" alt="Feature Icon"></i>
                            </div>
                            <h5 class="features-title">IT</h5>
                            <p>We provide tailored software development, web and mobile app solutions, cloud services, IT consulting, and managed IT support, ensuring robust cybersecurity to meet diverse business needs.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="assets/images/IOT.png" alt=""></i>
                            </div>
                            <h5 class="features-title">IoT(Internet of Things)</h5>
                            <p>We provide end-to-end IoT solutions, from consulting and device integration to 
                                application development and data analytics, enabling smart technologies for diverse sectors.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="assets/images/Industrial-Automation.png" alt=""></i>
                            </div>
                            <h5 class="features-title">Industrial Automation</h5>
                            <p>Industrial automation refers to the use of control systems, such as computers, robots, and IoT devices,
                                 to operate industrial processes with minimal human <br>intervention.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="assets\images\IOT-IT-innovative.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Innovating IoT and IT Solutions</h2>
                </div>
                <div class="left-text">
                    <p>Kalsoft specializes in developing IoT, IT, and industrial automation projects that meet the demands of modern businesses.
                         With expertise in designing and deploying cutting-edge solutions, Kalsoft helps businesses leverage technology to achieve their strategic goals. 
                        From smart device integration to custom application development, we deliver solutions tailored to empower industries, enterprises, and homes.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">Web and Desktop Application Development</h2>
                </div>
                <div class="left-text">
                    <p>Kalsoft excels in creating both web-based platforms and desktop applications to address a variety of business needs.
                         Whether it’s local desktop software or robust cloud-based solutions, our team ensures high-quality, reliable applications that drive efficiency. 
                         By combining innovative thinking with industry best practices, we help clients achieve sustainable success.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="assets/images/web-desktop-app.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

