<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>Global IT & IoT Leaders Driving Innovation and Value Worldwide</h1>
                    <p>Kalpsoft is a leading provider of comprehensive IT and IoT (Internet of Things) services. 
                        Established in 2022, we are committed to delivering innovative technology solutions that empower
                         businesses to achieve their goals efficiently and effectively. Our expertise spans across diverse industries,
                          enabling us to cater to the unique needs of each client with precision and reliability.</p>
                    <a href="#features" class="main-button-slider">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->  